<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../public/css/common.css">
	<link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
	<header id="header">
		
	</header>

	<div class="search-form">
		<form action="#">
			<div class="search-from search-form-flex">
				<label for="from">出発</label>
				<input type="text" name="from" id="from" placeholder="出発地点を入力">
			</div>
            <div class="add-via">
                <p class="add-via-button">
                    <i class="fa fa-plus" aria-hidden="true"></i>経由する場所を追加
                </p>
            </div>
            <!-- <div class="search-via search-via1 search-form-flex">
                <label for="via1">経由1</label>
                <input type="text" name="via1" id="via1" placeholder="経由地点を入力">
            </div> -->
			<div class="search-to search-form-flex">
				<label for="to">到着</label>
				<input type="text" name="to" id="to" placeholder="到着地点を入力">
			</div>
			<div class="submit-button">
				<input type="submit" value="検索">
			</div>
		</form>
	</div>
</body>
</html>