<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>ログイン</title>
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="cover"></div>
    <div class="cover-shadow"></div>

    <div class="main">
        <div class="title">
            よりみち
        </div>
        <div class="form-content">
            <form action="#" method="GET">
                <input type="text" name="email" placeholder="Email" class="email">
                <input type="password" name="password" placeholder="Password" class="password">
                <div class="forget-password">
                    <a href="#">パスワードをお忘れですか？</a>
                </div>
                <input type="submit" value="ログイン" class="login-button">
            </form>
        </div>
    </div>

</body>
</html>