<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>の詳細ページ | 頼道</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/flickity.min.css">
	<link rel="stylesheet" href="/stylesheets/common.css">
	<link rel="stylesheet" href="/stylesheets/spot-detail.css">
</head>
<body>
	<header id="header">
		
	</header>

	<div class="main-view">
		<ul>
			<li class="image">
				<img src="/images/59068506.jpg" alt="">
			</li>
			<li class="image">
				<img src="/images/login_back.png" alt="">
			</li>
			<li class="image">
				<img src="/images/kiyomizu.png" alt="">
			</li>
		</ul>
	</div>

	<div class="page-dots-cover"></div>

	<div class="spot-detail-container">
		<div class="spot-detail-navi">
			<button class="add-fav-spot"><i class="fa fa-3x fa-heart-o" aria-hidden="true"></i></button>
			<button class="add-routes-button" data-id="{{shop.placeId}}">
				ルートに追加
			</button>
		</div>

		<div class="spot-content">
			<div class="spot-title">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				茶寮都路里 祇園本店
			</div>
			<div class="spot-address">
				<div class="title">
					<span>Address</span><span class="span-right">住所</span>
				</div>
				<div class="spot-address-top">
					〒605-0074
				</div>
				<div class="spot-address-bottom">
					京都府京都市東山区四条通祇園町南側573-3<br>
					祇園辻利本店2・3F
				</div>
			</div>
			<div class="spot-tel">
				<div class="title">
					<span>Phone</span><span class="span-right">電話番号</span>
				</div>
				<i class="fa fa-phone" aria-hidden="true"></i>
				075-561-2257
			</div>
			<div class="spot-business-hours">
				<div class="title">
					<span>Business Hours</span><span class="span-right">営業時間</span>
				</div>
				<ul>
					<li>月曜日　9時00分～17時00分</li>
					<li>火曜日　9時00分～17時00分</li>
					<li>水曜日　9時00分～17時00分</li>
					<li>木曜日　9時00分～17時00分</li>
					<li>金曜日　9時00分～17時00分</li>
					<li>土曜日　定休日</li>
					<li>日曜日　定休日</li>
				</ul>
			</div>
			<div class="spot-review">
				<div class="title">
					<span>Review</span><span class="span-right">レビュー</span>
				</div>
				<ul>
					<li class="review-content">
						<div class="review-text">
							都路里へ行ったらパフェがオススメです。<br>
							都路里の特選パフェや季節限定のパフェもあります。<br>
							春は桜パフェがありました。<br>
							白玉がピンク色で桜餅のフレーバー、見た目も味もとても良かったです。<br>

							2階の喫茶店で1080円以上を注文すると30円の割引券が貰えます。私はいつも1階でお茶の葉を買うときに割引券を使います。抹茶入り玄米茶がお気に入りです。<br>
							待ち時間が長いので余裕を持って行くのが良いと思います。<br>
						</div>
						<div class="review-content-bottom">
							<div class="review-rating">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<div class="review-name">
								Etsuko Ueda
							</div>
						</div>
					</li>
					<li class="review-content">
						<div class="review-text">
							抹茶ソフトクリームを頂きました。抹茶を味わうならお茶が一番ですね！店で頂いたお茶が美味しかったです！
						</div>
						<div class="review-content-bottom">
							<div class="review-rating">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</div>
							<div class="review-name">
								Ken Osaka
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/flickity.pkgd.min.js"></script>
	<script>
		(function($){
			$('.main-view ul').flickity({
				autoPlay: true,
				wrapAround: true,
				prevNextButtons: false
			});

			$('.add-fav-spot').on('touchend', function(){
				favAnimation()
			})

			function favAnimation(){
				if ($('.add-fav-spot').hasClass('isAdded')) {
					$('.add-fav-spot').removeClass('isAdded')
					$('.add-fav-spot i').removeClass('fa-heart')
					$('.add-fav-spot i').addClass('fa-heart-o')
				} else {
					$('.add-fav-spot').addClass('isAdded')
					$('.add-fav-spot i').removeClass('fa-heart-o')
					$('.add-fav-spot i').addClass('fa-heart')
				}
			}
		})(jQuery)
	</script>
</body>
</html>