<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>詳細ページ</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/flickity.min.css">
	<link rel="stylesheet" href="/stylesheets/common.css">
	<link rel="stylesheet" href="/stylesheets/spot-detail.css">
</head>
<body>
	<header id="header">
		
	</header>

	<div id="app">

		<div class="main-view">
			<ul>
				<li class="image" v-for="img in shop.images">
					<img src="/images/placeholder.png" v-bind:data-flickity-lazyload="img" alt="">
				</li>
				
 				<!-- <li class="image" v-for="img in shop.images">
					<img :src="img" alt="">
				</li> -->
			</ul>
		</div>

		<div class="page-dots-cover"></div>

		<div class="spot-detail-container">
			<div class="spot-detail-navi">
				<button class="add-fav-spot"><i class="fa fa-3x fa-heart-o" aria-hidden="true"></i></button>
				<button class="add-routes-button" data-id="{{shop.placeId}}">
					ルートに追加
				</button>
			</div>

			<div class="spot-content">
				<div class="spot-title">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					{{shop.name}}
				</div>
				<div class="spot-address">
					<div class="title">
						<span>Address</span><span class="span-right">住所</span>
					</div>
					<div class="spot-address-bottom">
						{{shop.address}}
					</div>
				</div>
				<div class="spot-tel">
					<div class="title">
						<span>Phone</span><span class="span-right">電話番号</span>
					</div>
					<i class="fa fa-phone" aria-hidden="true"></i>
					{{shop.tel}}
				</div>
				<div class="spot-business-hours">
					<div class="title">
						<span>Business Hours</span><span class="span-right">営業時間</span>
					</div>
					<ul>
						<li v-for="hours in shop.openingHours">{{hours}}</li>
					</ul>
				</div>
				<div class="spot-review">
					<div class="title">
						<span>Review</span><span class="span-right">レビュー</span>
					</div>
					<ul>
						<li class="review-content" v-for="review in shop.reviews">
							<div class="review-text">
								{{review.text}}
							</div>
							<div class="review-content-bottom">
								<div class="review-rating">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</div>
								<div class="review-name">
									{{review.author_name}}
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/flickity.pkgd.min.js"></script>
	<script src="/js/vue.min.js"></script>
	<script>
		(function($){

			var shopDetail;

			var placeId = "ChIJa1zKJO3mAGARCWweqvokh_k"

			var vm = initVue()
			fetchShopDetail();

			function fetchShopDetail(){

				$.ajax({
					url: "/api/detail",
					type: "GET",
					data: {
						placeid: placeId
					}
				})
				.done(function(data){
					renderView(data.shopDetail)
					shopDetail = data.shopDetail
				})

			}

			function initVue(){
				var vm = new Vue({
					el: "#app",
					data: {
						shop: {}
					}
				})

				return vm
			}

			function renderView(shopDetailForVue){
				Vue.nextTick(function(){
					vm.shop = shopDetailForVue
				});
				initFlickity()
			}

			function initFlickity(){
				setTimeout(function(){
					$('.main-view ul').flickity({
						autoPlay: true,
						wrapAround: true,
						prevNextButtons: false,
						lazyLoad: true
					});
				},0)
			}

			$('.add-fav-spot').on('touchend', function(){
				favAnimation()
			})

			function favAnimation(){
				if ($('.add-fav-spot').hasClass('isAdded')) {
					$('.add-fav-spot').removeClass('isAdded')
					$('.add-fav-spot i').removeClass('fa-heart')
					$('.add-fav-spot i').addClass('fa-heart-o')
				} else {
					$('.add-fav-spot').addClass('isAdded')
					$('.add-fav-spot i').removeClass('fa-heart-o')
					$('.add-fav-spot i').addClass('fa-heart')
				}
			}

			$('.spot-detail-container').on('click', '.add-routes-button', function(){
				console.log(shopDetail)
				// var id = shopDetail.sortid
				// var placeId = shopDetail.id
				// var lat = shopDetail.lat
				// var lng = shopDetail.lng
				// var placeName = shopDetail.placename

				// console.log(id,placeId,lat,lng)
				// if ($(this).hasClass('isAdded')) {
				// 	mapManager.removeRoute(id)
				// 	$(this).css('background-color', '#FFF')
				// 	$(this).css('color', '#16A6B6')
				// 	$(this).text('ルートに追加')
				// 	$(this).removeClass('isAdded')
				// } else {
				// 	mapManager.setRoute(id,placeId,placeName,lat,lng)
				// 	$(this).css('background-color', '#16A6B6')
				// 	$(this).css('color', '#FFF')
				// 	$(this).text('追加済み')
				// 	$(this).addClass('isAdded')
				// }
			})
		})(jQuery)
	</script>
</body>
</html>